Variables :root {
  --black: #000000;
  --white: #ffffff;

  --black-hsl: 0, 0%, 0%;
  --white-hsl: 0, 0%, 100%;

  --pageBG: #f4f4f0;
  --pageText: #000000;

  --pageBG-hsl: 60, 14%, 95%;
  --pageText-hsl: 0, 0%, 0%;
}

[data-theme="dark"] {
  --pageBG: #000000;
  --pageText: #f4f4f0;

  --primaryBG: #3490dc;
  --primaryBGhover: #2481cc;
  --secondaryBG: #ffed4a;
  --secondaryBGhover: #eddc44;
  --dangerBG: #e3342f;
  --dangerBGhover: #d5302a;

  --pageBG-hsl: 0, 0%, 0%;
  --pageText-hsl: 60, 14%, 95%;
}

[data-theme="light"] {
  --pageBG: #ffffff;
  --pageText: #000000;

  --primaryBG: #3490dc;
  --primaryBGhover: #2481cc;

  --secondaryBG: #ffed4a;
  --secondaryBGhover: #eddc44;

  --dangerBG: #e3342f;
  --dangerBGhover: #d5302a;

  --pageBG-hsl: 60, 14%, 95%;
  --pageText-hsl: 0, 0%, 0%;
}
