@tailwind base;

@layer base {
  html {
    @apply bg-pageText text-[14px];
  }

  html,
  body {
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  html {
    @apply bg-pageBG;
  }

  body {
    @apply bg-pageBG text-pageText font-sans leading-100;
  }

  p {
    @apply m-0 text-14 leading-120;
  }

  strong {
    @apply font-semibold;
  }

  ul {
    @apply list-none m-0 p-0;
  }

  /* Links */
  a {
    @apply no-underline text-current;
  }

  button {
    @apply clean-btn;
  }

  /* Images */
  figure {
    @apply relative m-0;
  }

  /* Misc. */
  hr {
    @apply my-60 mx-0 border-0 h-1 bg-pageText;
  }

  ::-moz-selection {
    @apply bg-pageText text-pageBG;
  }
  ::selection {
    @apply bg-pageText text-pageBG;
  }
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

/* Focus Adjust */

a {
  color: var(--primaryBG);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

button,
input,
textarea,
select,
details {
  &:focus {
    outline: 1px dashed var(--pageText);
    outline-offset: 2px;

    .is-inverted & {
      outline-color: var(--pageBG);
    }

    body:not(.is-tabbing) & {
      outline: none;
    }
  }
}

p {
  &:not(:last-child) {
    @apply mb-24;
  }
}

ul {
  .rc & {
    @apply pl-8 text-16 leading-150;

    &:not(:last-child) {
      @apply mb-6;
    }

    li {
      @apply mb-1;

      &::before {
        content: "+";
        @apply inline-block relative -ml-4 w-4;
      }
    }
  }
}

figure {
  .rc & {
    &:not(:last-child) {
      @apply mb-24;
    }
  }
}

hr {
  &:last-child {
    @apply mb-0;
  }
}
